.header {
   padding: 30px 74px;
   min-height: 840px;
   background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url('./../img/header/header-bg.jpg');
   background-repeat: no-repeat;

   @include laptop {
      min-height: unset;
   }

   @include laptop {
      padding: 30px 30px;
   }


   &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 225px;

      @include laptop {
         margin-bottom: 100px;
      }
   }

   .header__top--mobile {
      position: fixed;
      z-index: 999;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: $dark;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      row-gap: 60px;

      padding-top: 40px;
      padding-bottom: 40px;

      .header__nav {
         display: block;
      }

      .nav__list {
         flex-direction: column;
         align-items: center;
         row-gap: 30px;
      }

      .nav__item {
         margin: 0;
      }

      .header__nav-btn {
         position: fixed;
         top: 50px;
         right: 50px;



      }
   }

   &__main {
      max-width: 554px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 auto;

   }

   &__title {
      font-family: $accent-font;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      color: $accent;
      margin-bottom: 80px;

      @include laptop {
         font-size: 32px;
      }
   }

   &__scroll {
      margin-bottom: 200px;

      @include laptop {
         margin-bottom: 100px;
      }
   }

   &__bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 30px;

      @include laptop {
         flex-direction: column;
         row-gap: 30px;
      }
   }

   &__link {
      font-size: 18px;
      padding-left: 35px;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include phones {
         font-size: 10px;
         padding: 0;
      }

      &::before {
         content: "";

         position: absolute;
         left: 0px;
         top: 0px;
         width: 21px;
         height: 21px;
      }

   }

   &--adress {
      max-width: 256px;
      background-image: url('../img/icons/icons.svg#map');
      background-repeat: no-repeat;
      margin-left: -100px;

      @include phones {
         background-image: url('');
      }

      @include laptop {
         margin: 0;
      }

   }

   &--phone {
      max-width: 175px;
      background-image: url('../img/icons/icons.svg#phone');
      background-repeat: no-repeat;

      @include phones {
         background-image: url('');
      }
   }
}