.questions {
   padding: 0 0 180px;

   @include tablets {
      padding: 0 0 40px;
   }

   // .questions__title

   &__title {
      margin-bottom: 38px;
   }

   // .questions__form

   &__form {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      column-gap: 30px;

      @include laptop {
         grid-template-columns: 1fr;
         row-gap: 30px;
      }
   }
}