//colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;



//fonts
$main-font: 'Raleway', sans-serif;
$accent-font: 'Playfair Display', sans-serif;
$secondary-font: 'Roboto', sans-serif;